
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
  
.About-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  text-align: center;
  background-image: url('../assets/cats.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  opacity: .6;
}

.About-content {
  background: rgba(0, 0, 0, 0.8); 
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 1600px; /* Adjust this value as needed */
  margin: 200 auto;
  margin-top: 40px;
  box-sizing: border-box;
}
  
.animation-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.login .container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-button,
.delete-button {
    background-color: #d8e4e7; /* Green */
    border: none;
    color: white;
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.update-button {
    background-color: #d9f3da; /* Green */
    color: black;
    margin-right: 1px;
}

.delete-button {
    background-color: #f0b98386; /* Red */
    color: black;
    margin-left: 1px;
}

.update-button:hover {
    background-color: #45a049;
}

.delete-button:hover {
    background-color: #d3c22f;
}

.form-label {
  width: 500px;
}