.pet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center the cards in the container */
}

.pet-card {
  width: 200px; /* Set a fixed width for the cards */
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  text-align: center; /* Center align the text inside the card */
}

.pet-card:hover {
  transform: scale(1.05);
}

.pet-image img {
  width: 10px;
  height: 3px; /* Adjust the height to make the image smaller */
  object-fit: cover;
}

.pet-info {
  padding: 10px; /* Adjust padding for smaller card size */
}

.pet-info h2 {
  margin: 0 0 10px 0;
  font-size: 16px; /* Smaller font size */
  color: #333;
}

.pet-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pet-info li {
  margin-bottom: 5px;
  font-size: 14px; /* Smaller font size */
}
